/* Reset box model and set up root variables */
:root {
    --dark-color: #ffffff;
    --light-color: #D9D9D9;
}

/* Apply box-sizing to all elements */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Set up body styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: var(--dark-color);
}

/* Set up wrapper max-width and centering */


nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}
nav h2{
    color:#fff;
    margin: 0;
}
nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 26px;
}

nav ul li a:hover {
    background-color: #111;
    color: white;
}

.search input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}
form {
    margin-top: 100px;
}
.left {
    width: 40%;
}

.right {
    width: 40%;
}

.row {
    display: flex;
    justify-content:flex-start;
}
.row h3{
    padding-right: 230px;
}


input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
h5{
    font-size: 42px;
    margin: 0;
    margin-top: 100px   ;
}