<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> KEYMOTO</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/allcarpreview.css') }}" />
</head>

<body>
  <div class="main-container">
    <div class="flex-row-d">
      <div class="rectangle">
        <div class="vector"></div>
        <span class="hatchbacks"><a href="/hatchback">Hatchbacks</a></span><span class="contact-us"><a
            href="/contact">Contact
            us</a></span>
        <span class="wishlist"><a href="/cartview">Wishlist </a></span>
        <span class="cars"><a href="/allcars">Cars</a></span>
        <span class="sedans"><a href="/sedan">Sedans</a></span>

      </div>

      <span class="brand-name"><a href="/" id="brand">KEYMOTO</a></span>
      {% if fun == 'all' %}
      <form action="/filter" method="POST">
        <div class="row" id="filter">
          <div class="col">
            <label for="seating">Seating capacity :</label>
            <select id="seating" name="seating">
              <option value="">None</option>
              {% for seat in seats%}
              <option value="{{seat.seat_capacity}}">{{seat.seat_capacity | upper }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col">
            <label for="brand">Brand :</label>
            <select id="brand" name="brand">
              <option value="">None</option>
              {% for brandd in brands%}
              <option value="{{brandd.brand}}">{{brandd.brand | upper }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col">
            <label for="color">Color :</label>
            <select id="color" name="color">
              <option value="">None</option>
              {% for color in colours%}
              <option value="{{color.colours}}">{{color.colours | upper }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col">
            <label for="fuel">Fuel :</label>
            <select id="fuel" name="fuel">
              <option value="">None</option>
              {% for fuel in fuels%}
              <option value="{{fuel.fuel}}">{{fuel.fuel | upper }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit">Search</button>
        </div>

      </form>
      {% endif %}
    </div>

    {% for row in rows%}
    <div class="rectangle-9">
      <div class="flex-column">
        <span class="the-freedom">{{row.description}}</span>
        <a href="/addtocart/{{row.id}}" class="rectangle-a">
          ORDER NOW
        </a>
        <a id="viewmore" href="/preview/{{row.id}}" class="rectangle-a">
          VIEW MORE
        </a>
        <div style="display: flex;" class="row"><a id="compare" href="/addcompare/{{row.id}}" class="rectangle-m">
            ADD TO COMPARE
          </a>
          <a id="compare" href="/addtowishlist/{{row.id}}" class="rectangle-m">
            ADD TO WISHLIST
          </a>
        </div>c


        <div class="row" id="recomm">
          <span class="fits-most-riders">*Fits most riders 5'6" - 6'4"</span>
          <span class="fits-most-riders">{{ row.recommentation}}% recommented</span>
        </div>

        <span class="freedom">{{row.brand | upper }}
          -
          {{ row.model | upper }}</span><span class="dollar">{{row.price}}</span>
      </div>
      <div class="pic-3"></div>
      <div class="image">
        <img src="{{ url_for('static', filename='assets/carimage/' + row.model.lower().replace(' ', '') + '.jpg') }}">

      </div>
    </div>
    {%endfor%}

    <div class="rectangle-26">
      <div class="flex-row-f">
        <span class="subscribe-and-save">Suscribe and save </span><span class="explore">EXPLORE </span><span
          class="about">ABO UT </span><span class="help">HELP</span>
      </div>
      <div class="flex-row-ed">
        <span class="inbox-support">Get offers and support right from your inbox</span><span class="dealer-contact">Find
          a dealer<br />Become a dealer<br />Contact us<br /><br /></span><span class="freedom-models">Freedom
          X<br />Freedom ST<br />Freedom 2<br />Freedom Fatty</span><span class="policies">Privacy Policy<br />Term of
          services<br />Billing Terms &
          Condicions<br />Shipping Policy</span>
        <div class="social-networks"></div>
        <div class="tarjetas"></div>
      </div>
      <span class="brand-name-27">© 2022 KEYMOTO BIKES Inc. All Rights Reserved</span>
    </div>
  </div>
  <!-- Generated by Codia AI - https://codia.ai/ -->
</body>

</html>