<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEYMOTO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
</head>

<body>
    <div class="homoe">

        <section class="reviews-box">

            <div class="wrapper">
                <nav class="navbar">

                    <ul>
                        <li>
                            <h2>KEYMOTO</h2>
                        </li>
                        <li>
                            <a href="/allcars">CARS</a>
                        </li>
                        <li>
                            <a href="/hatchback">HATCHBACKS</a>
                        </li>
                        <li>
                            <a href="/sedan">SEDANS</a>
                        </li>
                        <li>
                            <a href="/cartview">CART</a>
                        </li>

                        <li>
                            <a href="/wishlistview">WISHLIST</a>
                        </li>
                        <li>
                            <a href="/contact">CONTACT US</a>
                        </li>
                        <li>
                            <a href="/compare">COMPARE</a>
                        </li>
                    </ul>
                    <div class="search">
                        <input type="text">
                    </div>
                </nav>
            </div>
            <header>
                <div class="left">
                    <h2>Experience <br> Freedom</h2>
                    <h3>Enjoy the ride</h3>
                    <div class="lower">
                        <h4>payment plans available </h4>
                        <h5>as low as 1000/month</h5>
                    </div>
                    <div class="learnmore">
                        <h3>Learn More</h3>
                    </div>
                </div>
                <img src="{{ url_for('static',filename='assets/images/back.jpg' ) }}"
                    alt="">
                <div class="foot">
                    <h4> ORDER NOW FROM 0-89074017</h4>

                </div>
            </header>
            <div class="popup">
                <div class="popup-content" id="popup-content">
                    <h3>
                        What kind of car you are looking for?
                    </h3>
                    <div class="close">
                        <img src="{{ url_for('static',filename='assets/images/delete.png') }}" alt="">
                    </div>

                    <form action="/filter" method="POST">

                        <div class="row">
                            <label for="brand">Brand:</label>
                            <select id="brand" name="brand">
                                <option value="">Select a brand</option>
                                {% for brandd in brands%}
                                <option value="{{brandd.brand}}">{{brandd.brand | upper }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="row">
                            <label for="fuel-type">Fuel type:</label>
                            <select id="fuel-type" name="fuel">
                                <option value="">Select a fuel type</option>
                                {% for fuel in fuels%}
                                <option value="{{fuel.fuel}}">{{fuel.fuel | upper }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="row">
                            <label for="seater">Seater:</label>
                            <select id="seater" name="seating">
                                <option value="">Select a seater</option>
                                {% for seat in seats%}
                                <option value="{{seat.seat_capacity}}">{{seat.seat_capacity | upper }}</option>
                                {% endfor %}
                            </select>

                        </div>


                        <div class="row">
                            <button type="submit">Find my car</button>
                        </div>

                    </form>
                </div>
                <script>
                    setTimeout(function () {
                        document.getElementById('popup-content').style.display = 'block';
                    }, 2000); // 120000 milliseconds = 2 minutes
                    document.querySelector(".close").addEventListener('click',function(){
                        document.getElementById('popup-content').style.display = 'none';
                    })
                
                </script>

            </div>
        </section>

        <section class="frame-audi-models">
            <div class="frame-audi-models1">
                <img class="why-do-fans-love-bikes" loading="eager" alt=""
                    src="{{ url_for('static',filename='assets/images/vector.svg' ) }}" />

                <img class="mask-group-icon" loading="eager" alt=""
                    src="{{ url_for('static',filename='assets/images/mask-group@2x.png' ) }}" />

                <img class="mask-group-icon1" loading="eager" alt=""
                    src="{{ url_for('static',filename='assets/images/mask-group-1@2x.png' ) }}" />

                <img class="mask-group-icon2" loading="eager" alt=""
                    src="{{ url_for('static',filename='assets/images/mask-group-2@2x.png' ) }}" />
            </div>
        </section>
        <div class="read-more">Read more</div>
        <section class="jeff-ellis-review">
            <div class="impressed-quality-group">
                <div class="impressed-quality-group1">
                    <div class="read-more-link">
                        <h1 class="the-full-line">AUDI Collections</h1>
                        <div class="a-variety-of">
                            A variety of electric bike models for every rider.
                        </div>
                    </div>

                    <div class="love-first-electric-bike">
                        <a href="/preview/6">
                            <div class="frame-powered-by">
                                <img class="xlightershadow-1632885262000-1-icon" alt=""
                                    src="{{ url_for('static',filename='assets/images/a4.jpg' ) }}" style="width: 250px;" />

                                <div class="customer-testimonials">
                                    <div class="customer-testimonials1">
                                        <h3 class="audi-a1">Audi A4</h3>
                                    </div>
                                    <div class="read-more-link1">
                                        <div class="powered-by-logo-group">
                                            <img class="marie-j-m-review" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="super-friendly-people" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="i-recently-purchased-products" alt=""
                                                src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                            <img class="test-rides-available-frame" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="pfbaddacbike-node-icon" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                        </div>
                                        <div class="reviews">128 Reviews</div>
                                    </div>
                                    <div class="fits-most-riders">
                                        Fits most riders 5’6" – 6’4"
                                    </div>
                                    <b class="from-1098">From $1,098</b>
                                </div>
                            </div>
                        </a>
                        <a href="preview/7">
                            <div class="frame-powered-by1">
                                <img class="xlightershadow-1632885262000-5-icon" alt=""
                                    src="{{ url_for('static',filename='assets/images/a5.jpg' ) }}" />

                                <div class="frame-powered-by-inner">
                                    <div class="audi-a4-parent">
                                        <h3 class="audi-a4">Audi A5</h3>
                                        <div class="test-ride-available-frame">
                                            <div class="frame-set-audi-bikes1">
                                                <img class="frame-group-audi-reviews" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                                <img class="star-rating-icon" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                                <img class="text-from-audi-q" alt=""
                                                    src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                                <img class="see-all-link" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                                <img class="xlightershadow-rectangle-icon" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                            </div>
                                            <div class="reviews1">247 Reviews</div>
                                        </div>
                                        <div class="fits-most-riders1">
                                            Fits most riders 5’1" – 6’2"
                                        </div>
                                        <div class="jeff-ellis-review1">
                                            <b class="from-1298">From $1,298</b>
                                            <div class="impressed-with-quality">$1,998</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="preview/8">
                    <div class="frame-set-a">

                        <img class="xlightershadow-1632885262000-3-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/q3.jpg' ) }}" />

                        <div class="rectangle-a">
                            <div class="star-a">

                                <div class="review-card-a">
                                    <h3 class="audi-a5">Audi Q3</h3>
                                </div>

                                <div class="frame-b">
                                    <div class="see-all-button-a">
                                        <div class="group-a">
                                            <img class="audi-frame-a" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="audi-frame-a1" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="audi-frame-a2" alt=""
                                                src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                            <img class="audi-frame-a3" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="audi-frame-a4" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                        </div>
                                        <div class="reviews2">247 Reviews</div>
                                    </div>
                                    <div class="star-rating-a">
                                        <div class="fits-most-riders2">
                                            Fits most riders 5’6" – 6’4"
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more-link-a">
                                    <b class="from-1198">From $1,198</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/preview/9">
                    <div class="frame-c">
                        <img class="xlightershadow-1632885262000-4-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/a6.jpg' ) }}" />

                        <div class="impressed-section-a">
                            <div class="first-electric-bike-a">
                                <h3 class="audi-q3">Audi A6</h3>
                                <div class="not-satisfied-section-a">
                                    <div class="frame-set">
                                        <img class="reviews-container-icon" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="reviews-container-icon1" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="reviews-container-icon2" alt=""
                                            src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                        <img class="reviews-container-icon3" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="reviews-container-icon4" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                    </div>
                                    <div class="reviews3">247 Reviews</div>
                                </div>
                                <div class="fits-most-riders3">
                                    Fits most riders 5’2" – 6’3"
                                </div>
                                <b class="from-12981">From $1,298</b>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="from-label-parent">
                    <div class="from-label">
                        <div class="review-text">
                            <a href="/audicars">
                                <div class="see-all">See all</div>
                                <img class="review-text-child" loading="eager" alt=""
                                    src="{{ url_for('static',filename='assets/images/group-3684.svg' ) }}" />
                            </a>
                        </div>
                    </div>
                    <a href="preview/10">
                        <img class="xlightershadow-1632885262000-6-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/a8l.jpg' ) }}" />

                        <div class="see-all-button">
                            <div class="audi-a8l-parent">
                                <h3 class="audi-a8l">Audi A8L</h3>
                                <div class="jeff-ellis">
                                    <div class="impressed-quality">
                                        <img class="read-more-button" alt=""
                                            src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                        <img class="read-more-button1" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="read-more-button2" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                    </div>
                                    <div class="reviews4">247 Reviews</div>
                                </div>
                                <div class="fits-most-riders4">
                                    Fits most riders 5’2" – 6’3"
                                </div>
                                <b class="from-12982">From $1,298</b>
                            </div>
                        </div>
                </div>
                </a>
            </div>
        </section>




        <section class="jeff-ellis-review">
            <div class="impressed-quality-group">
                <div class="impressed-quality-group1">
                    <div class="read-more-link">
                        <h1 class="the-full-line">Greatest from volvo</h1>
                        <div class="a-variety-of">
                            A variety of electric bike models for every rider.
                        </div>
                    </div>

                    <div class="love-first-electric-bike">
                        <a href="/preview/1">
                            <div class="frame-powered-by">
                                <img class="xlightershadow-1632885262000-1-icon" alt=""
                                    src="{{ url_for('static',filename='assets/images/s90.jpg' ) }}" width="250px" />

                                <div class="customer-testimonials">
                                    <div class="customer-testimonials1">
                                        <h3 class="audi-a1">Volvo S90</h3>
                                    </div>
                                    <div class="read-more-link1">
                                        <div class="powered-by-logo-group">
                                            <img class="marie-j-m-review" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="super-friendly-people" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="i-recently-purchased-products" alt=""
                                                src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                            <img class="test-rides-available-frame" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="pfbaddacbike-node-icon" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                        </div>
                                        <div class="reviews">128 Reviews</div>
                                    </div>
                                    <div class="fits-most-riders">
                                        Fits most riders 5’6" – 6’4"
                                    </div>
                                    <b class="from-1098">From 68.90 lakhs</b>
                                </div>
                            </div>
                        </a>
                        <a href="preview/2">
                            <div class="frame-powered-by1">
                                <img class="xlightershadow-1632885262000-5-icon" alt=""
                                    src="{{ url_for('static',filename='assets/images/xc60.jpg' ) }}" />

                                <div class="frame-powered-by-inner">
                                    <div class="audi-a4-parent">
                                        <h3 class="audi-a4">XC60</h3>
                                        <div class="test-ride-available-frame">
                                            <div class="frame-set-audi-bikes1">
                                                <img class="frame-group-audi-reviews" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                                <img class="star-rating-icon" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                                <img class="text-from-audi-q" alt=""
                                                    src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                                <img class="see-all-link" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                                <img class="xlightershadow-rectangle-icon" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                            </div>
                                            <div class="reviews1">247 Reviews</div>
                                        </div>
                                        <div class="fits-most-riders1">
                                            Fits most riders 5’1" – 6’2"
                                        </div>
                                        <div class="jeff-ellis-review1">
                                            <b class="from-1298">From 68.25 lakh</b>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="preview/3">
                    <div class="frame-set-a">

                        <img class="xlightershadow-1632885262000-3-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/xlightershadow1632885262000-3@2x.png' ) }}" />

                        <div class="rectangle-a">
                            <div class="star-a">

                                <div class="review-card-a">
                                    <h3 class="audi-a5">XC90</h3>
                                </div>

                                <div class="frame-b">
                                    <div class="see-all-button-a">
                                        <div class="group-a">
                                            <img class="audi-frame-a" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="audi-frame-a1" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="audi-frame-a2" alt=""
                                                src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                            <img class="audi-frame-a3" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="audi-frame-a4" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                        </div>
                                        <div class="reviews2">247 Reviews</div>
                                    </div>
                                    <div class="star-rating-a">
                                        <div class="fits-most-riders2">
                                            Fits most riders 5’6" – 6’4"
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more-link-a">
                                    <b class="from-1198">From 1.01 crore</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/preview/4">
                    <div class="frame-c">
                        <img class="xlightershadow-1632885262000-4-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/volvoxc40.jpg' ) }}" />

                        <div class="impressed-section-a">
                            <div class="first-electric-bike-a">
                                <h3 class="audi-q3">XC40-RECHARGE</h3>
                                <div class="not-satisfied-section-a">
                                    <div class="frame-set">
                                        <img class="reviews-container-icon" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="reviews-container-icon1" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="reviews-container-icon2" alt=""
                                            src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                        <img class="reviews-container-icon3" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="reviews-container-icon4" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                    </div>
                                    <div class="reviews3">247 Reviews</div>
                                </div>
                                <div class="fits-most-riders3">
                                    Fits most riders 5’2" – 6’3"
                                </div>
                                <b class="from-12981">From 57.90 lakh</b>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="from-label-parent">
                    <div class="from-label">
                        <a href="/volvocars">
                            <div class="review-text">
                                <div class="see-all">See all</div>
                                <img class="review-text-child" loading="eager" alt=""
                                    src="{{ url_for('static',filename='assets/images/group-3684.svg' ) }}" />
                            </div>
                        </a>
                    </div>
                    <a href="preview/5">
                        <img class="xlightershadow-1632885262000-6-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/volvoc40.jpg' ) }}" />

                        <div class="see-all-button">
                            <div class="audi-a8l-parent">
                                <h3 class="audi-a8l">Volvo C40 RECHARGE</h3>
                                <div class="jeff-ellis">
                                    <div class="impressed-quality">
                                        <img class="read-more-button" alt=""
                                            src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                        <img class="read-more-button1" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="read-more-button2" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                    </div>
                                    <div class="reviews4">247 Reviews</div>
                                </div>
                                <div class="fits-most-riders4">
                                    Fits most riders 5’2" – 6’3"
                                </div>
                                <b class="from-12982">From 62.95 lakhs</b>
                            </div>
                        </div>
                </div>
                </a>
            </div>
        </section>




        <section class="jeff-ellis-review">
            <div class="impressed-quality-group">
                <div class="impressed-quality-group1">
                    <div class="read-more-link">
                        <h1 class="the-full-line">The full line up</h1>
                        <div class="a-variety-of">
                            A variety of electric bike models for every rider.
                        </div>
                    </div>

                    <div class="love-first-electric-bike">
                        <a href="/preview/6">
                            <div class="frame-powered-by">
                                <img class="xlightershadow-1632885262000-1-icon" alt=""
                                    src="{{ url_for('static',filename='assets/images/a4.jpg' ) }}" width="250"/>

                                <div class="customer-testimonials">
                                    <div class="customer-testimonials1">
                                        <h3 class="audi-a1">Audi A4</h3>
                                    </div>
                                    <div class="read-more-link1">
                                        <div class="powered-by-logo-group">
                                            <img class="marie-j-m-review" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="super-friendly-people" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="i-recently-purchased-products" alt=""
                                                src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                            <img class="test-rides-available-frame" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="pfbaddacbike-node-icon" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                        </div>
                                        <div class="reviews">128 Reviews</div>
                                    </div>
                                    <div class="fits-most-riders">
                                        Fits most riders 5’6" – 6’4"
                                    </div>
                                    <b class="from-1098">From 45.34 lakhh</b>
                                </div>
                            </div>
                        </a>
                        <a href="preview/61">
                            <div class="frame-powered-by1">
                                <img class="xlightershadow-1632885262000-5-icon" alt=""
                                    src="{{ url_for('static',filename='assets/images/kiaseltos.jpg' ) }}" />

                                <div class="frame-powered-by-inner">
                                    <div class="audi-a4-parent">
                                        <h3 class="audi-a4">KIA SELTOS</h3>
                                        <div class="test-ride-available-frame">
                                            <div class="frame-set-audi-bikes1">
                                                <img class="frame-group-audi-reviews" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                                <img class="star-rating-icon" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                                <img class="text-from-audi-q" alt=""
                                                    src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                                <img class="see-all-link" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                                <img class="xlightershadow-rectangle-icon" alt=""
                                                    src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                            </div>
                                            <div class="reviews1">247 Reviews</div>
                                        </div>
                                        <div class="fits-most-riders1">
                                            Fits most riders 5’1" – 6’2"
                                        </div>
                                        <div class="jeff-ellis-review1">
                                            <b class="from-1298">From 10.89 lakh</b>
                                            <div class="impressed-with-quality">$1,998</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="preview/84">
                    <div class="frame-set-a">

                        <img class="xlightershadow-1632885262000-3-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/suzukibaleno.jpg' ) }}" />

                        <div class="rectangle-a">
                            <div class="star-a">

                                <div class="review-card-a">
                                    <h3 class="audi-a5">Baleno</h3>
                                </div>

                                <div class="frame-b">
                                    <div class="see-all-button-a">
                                        <div class="group-a">
                                            <img class="audi-frame-a" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="audi-frame-a1" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="audi-frame-a2" alt=""
                                                src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                            <img class="audi-frame-a3" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                            <img class="audi-frame-a4" alt=""
                                                src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                        </div>
                                        <div class="reviews2">247 Reviews</div>
                                    </div>
                                    <div class="star-rating-a">
                                        <div class="fits-most-riders2">
                                            Fits most riders 5’6" – 6’4"
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more-link-a">
                                    <b class="from-1198">From 7.50 lakh</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/preview/91">
                    <div class="frame-c">
                        <img class="xlightershadow-1632885262000-4-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/tataharrier.jpg' ) }}" />

                        <div class="impressed-section-a">
                            <div class="first-electric-bike-a">
                                <h3 class="audi-q3">Tata Harrier</h3>
                                <div class="not-satisfied-section-a">
                                    <div class="frame-set">
                                        <img class="reviews-container-icon" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="reviews-container-icon1" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="reviews-container-icon2" alt=""
                                            src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                        <img class="reviews-container-icon3" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="reviews-container-icon4" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                    </div>
                                    <div class="reviews3">247 Reviews</div>
                                </div>
                                <div class="fits-most-riders3">
                                    Fits most riders 5’2" – 6’3"
                                </div>
                                <b class="from-12981">From 16.00 lakh</b>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="from-label-parent">
                    <div class="from-label">
                        <a href="/allcars">
                            <div class="review-text">
                                <div class="see-all">See all</div>
                                <img class="review-text-child" loading="eager" alt=""
                                    src="{{ url_for('static',filename='assets/images/group-3684.svg' ) }}" />
                            </div>
                        </a>
                    </div>
                    <a href="preview/99">
                        <img class="xlightershadow-1632885262000-6-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/vellfare.jpg' ) }}" />

                        <div class="see-all-button">
                            <div class="audi-a8l-parent">
                                <h3 class="audi-a8l">vell fire</h3>
                                <div class="jeff-ellis">
                                    <div class="impressed-quality">
                                        <img class="read-more-button" alt=""
                                            src="{{ url_for('static',filename='assets/images/i-recently-purchased-products.svg' ) }}" />

                                        <img class="read-more-button1" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />

                                        <img class="read-more-button2" alt=""
                                            src="{{ url_for('static',filename='assets/images/marie-j-m-review.svg' ) }}" />
                                    </div>
                                    <div class="reviews4">247 Reviews</div>
                                </div>
                                <div class="fits-most-riders4">
                                    Fits most riders 5’2" – 6’3"
                                </div>
                                <b class="from-12982">From 80.00 lakh</b>
                            </div>
                        </div>
                </div>
                </a>
            </div>
        </section>



        <div class="test-rides-available">
            <div class="audi-section"></div>
        </div>
        <div class="homoe-child"></div>

        <div class="powered-by-social-media-logos">
            <div class="child-frame-buyer-jane-butler"></div>
        </div>

        <div class="why-do-our-fans-love-our-bikes">
            <h1 class="why-do-our">Why do our fans love our bikes?</h1>
        </div>
        <section class="homoe-inner">
            <div class="jeff-ellis-parent">
                <div class="jeff-ellis1">
                    <div class="jeff-ellis-child"></div>
                    <div class="impressed-with-quality1">
                        <div class="marie-j-mills">
                            <div class="verified-buyer">
                                <h2 class="jeff-ellis2">Jeff Ellis</h2>
                            </div>
                            <div class="verified-buyer1">Verified Buyer</div>
                        </div>
                        <div class="impressed-with-quality-inner">
                            <img class="frame-child" alt=""
                                src="{{ url_for('static',filename='assets/images/group-15.svg' ) }}" />
                        </div>
                    </div>
                    <div class="powered-by-social-media-logos1">
                        <div class="impressed-with-the-quality-parent">
                            <h2 class="impressed-with-the">Impressed with the quality.</h2>
                            <div class="i-recently-purchased">
                                I recently purchased some products from this store and was
                                impressed with the quality of the products. The ordering
                                process was easy and the shipping was fast. I have already
                                noticed a difference in my lifestyle. I will definitely be
                                shopping here again.
                            </div>
                        </div>
                        <div class="read-more1">Read more</div>
                    </div>
                    <div class="powered-by-parent">
                        <div class="powered-by">Powered by</div>
                        <img class="twitter-logo-1-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/twitter-logo-1.svg' ) }}" />
                    </div>
                </div>
                <div class="capax-logo">
                    <div class="capax-logo-child"></div>
                    <div class="product-testimonials-parent">
                        <div class="product-testimonials">
                            <div class="frame-parent">
                                <div class="frame-group">
                                    <div class="marie-j-mills-wrapper">
                                        <h2 class="marie-j-mills1">Marie J Mills</h2>
                                    </div>
                                    <div class="verified-buyer2">Verified Buyer</div>
                                </div>
                                <div class="jeff-appreciation">
                                    <img class="jeff-appreciation-child" alt=""
                                        src="{{ url_for('static',filename='assets/images/group-15.svg' ) }}" />
                                </div>
                            </div>
                            <h2 class="the-crew-at">
                                The crew at Wing Bikes are fantastic.
                            </h2>
                        </div>
                        <div class="love-my-first-container">
                            <p class="love-my-first">
                                Love my first electric bike. After carefully shopping for the
                                best, I found it. Everything you need you.
                            </p>
                            <p class="blank-line">&nbsp;</p>
                        </div>
                    </div>
                    <div class="first-time-e-bike-owner">
                        <div class="powered-by1">Powered by</div>
                        <img class="facebook-logo-1-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/facebook-logo-1.svg' ) }}" />
                    </div>
                </div>
                <div class="rectangle-parent">
                    <div class="frame-item"></div>
                    <div class="buyer-testimonials">
                        <div class="facebook-logo-frame">
                            <div class="verified-buyer-frame">
                                <h2 class="jane-butler">Jane Butler</h2>
                            </div>
                            <div class="verified-buyer3">Verified Buyer</div>
                        </div>
                        <div class="text-frame-love-my-ebike">
                            <img class="text-frame-love-my-ebike-child" alt=""
                                src="{{ url_for('static',filename='assets/images/group-15.svg' ) }}" />
                        </div>
                    </div>
                    <h2 class="super-friendly-people1">
                        Super friendly people and great E-bikes
                    </h2>
                    <div class="capax-frame">
                        <div class="i-recently-purchased1">
                            I recently purchased some products from this store and was
                            impressed with the quality of the products. The ordering process
                            was easy and the shipping was fast. I have already noticed a
                            difference in my lifestyle. I will definitely be shopping here
                            again.
                        </div>
                        <div class="read-more2">Read more</div>
                    </div>
                    <div class="free-shipping-frames">
                        <div class="powered-by2">Powered by</div>
                        <img class="capa-x0020-1-icon" loading="eager" alt=""
                            src="{{ url_for('static',filename='assets/images/capa-x0020-1.svg' ) }}" />
                    </div>
                </div>
            </div>
        </section>
        <section class="test-rides-available-frame2">
            <img class="test-rides-available-frame-child" alt=""
                src="{{ url_for('static',filename='assets/images/group-31@2x.png' ) }}" />

            <div class="pfaddaceatruck-pfddaceabox-fra">
                <img class="pf-a1ddacea-002truck-1-icon" loading="eager" alt=""
                    src="{{ url_for('static',filename='assets/images/pfa1ddacea002truck-1@2x.png' ) }}" />

                <div class="free-shipping-on">Free shipping on all e-bikes</div>
            </div>
            <div class="pfaddaceatruck-pfddaceabox-fra1">
                <img class="pf-ddacea34-004box-1-icon" loading="eager" alt=""
                    src="{{ url_for('static',filename='assets/images/pfddacea34004box-1@2x.png' ) }}" />

                <div class="not-satisfied-weve">
                    Not satisfied? We’ve got easy returns
                </div>
            </div>
            <div class="quick-hasslefree-setup-frames">
                <div class="pfaceaeopenbox-frame">
                    <img class="pf-8ba1ddac-001bike-1-icon" loading="eager" alt=""
                        src="{{ url_for('static',filename='assets/images/pf8ba1ddac001bike-1@2x.png' ) }}" />

                    <div class="test-rides-available1">Test rides available</div>
                </div>
            </div>
            <div class="free-shipping">
                <div class="open-box-bike">
                    <img class="pf-acea34e8-005openbox-1-icon" loading="eager" alt=""
                        src="{{ url_for('static',filename='assets/images/pfacea34e8005openbox-1@2x.png' ) }}" />
                </div>
                <div class="quick-hassle-free-setup">Quick, hassle-free setup</div>
            </div>
        </section>
    </div>
    <script src="{{ url_for('static',filename='index.js') }}"></script>
</body>

</html>